*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 90%;
    min-height: 80%;
    padding: 9px;
    margin: auto;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    -webkit-transition: all 0.5s ease-in-out;
    opacity: 1;
    transform: scale(1);
    transition: all 300ms;
    align-items: flex-start;
    padding: 160px;
}

.gallery article {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 280px;
    padding: 4%;
    align-self: baseline;
}

.details-btn {
    width: 75%;
    margin: auto;
}

.nav-pagination {
    margin: 100px auto;
}

@media (max-width: 630px) {
    .gallery {
        flex-direction: column;
    }

    .gallery article {
        width: 100%;
    }
}
